.login-container {
  background-image: url('../../images/login_03.png');
  background-size: cover;
  height: 95vh;
  padding: 3rem;
  position: relative;
}

.login-input {
  left: 20%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  animation: appear 1s ease-in;
  color: white;
  font-size: 4rem;
}

.login-input-email {
  animation: fadeIn 1s ease-in;
}

.login-input-password {
  animation: fadeIn 1s ease-in;
}

.login-input-email,
.login-input-password {
  border-radius: 1rem;
  display: block;
  margin: 1.5rem;
  padding: 2rem;
  text-align: center;
  width: 15vw;
}

.login-input-email:focus,
.login-input-password:focus {
  background-color: rgb(251, 146, 60);
}

.btn:disabled {
  background-image: linear-gradient(to bottom right, whitesmoke, white);
  border-radius: 1rem;
  color: black;
  font-weight: 700;
  padding: 1.5rem;
}

/* animations */
@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    transform: rotateY(-50deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10em);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
